.c {

  &-primary-btn {
    padding: 5px 15px;
    margin:0 15px;
    background:$blue1;
    border:1px solid $blue1;
    border-radius:4px;
    color:white;
    font-size:14px;
    display:inline;
    cursor:pointer;
    &:hover {
      background:darken($blue1,7);
      border:1px solid darken($blue1,7);
    }
  }

  &-secondary-btn {
    padding: 5px 15px;
    margin:0 15px;
    background:transparent;
    border:1px solid $grey4;
    border-radius:4px;
    color:white;
    font-size:14px;
    color:$grey-3;
    display:inline;
    &:hover {
      background:darken($blue1,7);
      border:1px solid darken($blue1,7);
      color:white;
    }
  }
}