.c {

  &-primary-btn {
    padding: 5px 15px;
    background:$green1;
    border:1px solid $green1;
    border-radius:6px;
    color:white;
    position:absolute;
    right: 20px;
    top: 12px;
    &:hover {
      background:darken($green1,7);
      border:1px solid darken($green1,7);
    }
  }

  &-secondary-btn {
    padding: 5px 15px;
    background:transparent;
    border:1px solid $grey4;
    border-radius:6px;
    color:white;
    position:absolute;
    right: 120px;
    top: 12px;
    color:$grey-3;
    &:hover {
      background:darken($blue1,7);
      border:1px solid darken($blue1,7);
      color:white;
    }
  }
}