html {
    height:100%;
}
body {
    font-family:'open sans',arial,sans-serif;
    margin:0;
    padding:0;
    height:100%;
    background:#f0f4f7;
}
p {
    font-size:15px;
    color:#818d9a;
}

#appContainer {
    height:100%;
}
.pageContent {
    width:calc(100% - 200px);
    height:calc(100% - 80px);
    margin-top:60px;
    margin-left:180px;
    vertical-align: top;
    display:inline-block;
    padding:10px;
}