.headerContainer {
  position: fixed;
  top:0;
  width:calc(100% - 55px);
  margin-left:55px;
  padding:19px 22px;
  background:#fff;
  box-shadow: 0 0 4px #ccc;
}
.headerTitle {
  font-weight:600;
  color:#555;
}