.headerContainer {
  position: fixed;
  top:0;
  width:calc(100% - 99px);
  margin-left:55px;
  padding:19px 22px;
  background:#fff;
  box-shadow: 0 0 4px #ccc;
  z-index:10;
}
.headerTitle {
  font-weight:600;
  color:#555;
  display:inline-block;
}
.headerAccount {
  float:right;
  font-size:15px;
  vertical-align: top;
  color:#888;
  cursor:pointer;
}
.headerAccount i {
  font-size:20px;
  float:right;
  color:#888;
  margin-left:7px;
  position: relative;
  top:1px;
}