.navContainer {
  height: 100%;
  background: #27b7d7;
  width:55px;
  display:inline-block;
}
.navItem {
  color:#fff;
  text-align:center;
  padding:18px 10px;
  cursor: pointer;
  transition:.1s ease;
  position:relative;
  height:25px;
}
.navItem:hover,
.navItem.active {
  background:#0797b7;
}
.navItem:hover .navItemTool {
  display:block;
}
.navItemTool {
  display:none;
  position: absolute;
  background:rgba(0,0,0,.8);
  padding:10px 20px;
  font-size:14px;
  width:100px;
  text-align: left;
  border-radius:5px;
  z-index:10;
  left:65px;
  top:calc(50% - 18px);
}
.navItemTool:after {
  content:'';
  position: absolute;
  left: -7px;
  top:12px;
  border-right:7px solid rgba(0,0,0,.8);
  border-top:7px solid transparent;
  border-bottom:7px solid transparent;
}